website/public/galleries/*/*.jpg
/website/public/file
/website/public/img
/website/public/mine.json
/website/public/css/test.css
/website/public/test.html
/website/public/js/test.js
/tools/__pycache__
/tools/gallerytools.pyc
